<div *ngIf="isLoading$ | async" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
<mat-selection-list  [multiple]="false" #shoes>
    <mat-list-option [selected]="(selectedPerson$ | async)?.id == person.id" (selectedChange)="selectPerson(person.id)" *ngFor="let person of people$ | async">
        {{ person.firstName }} {{ person.lastName }}
    </mat-list-option>
</mat-selection-list>
<app-person-card></app-person-card>
